.footer {
  background-color: var(--bg-dark);
  color: white;
  padding: 3rem 0;
}
.footer-wrapper {
  width: min(80%, 1200px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content {
  flex-basis: 40%;
}
.footer-content > p {
  font-size: 18px;
}
.footer-links {
  display: flex;
  gap: 30px;
}
.footer-links a,
li {
  font-size: 0.9rem;
}
@media screen and (width < 960px) {
  .footer-wrapper {
    flex-direction: column;
    width: 90vw;
  }
  .footer-content {
    text-align: center;
  }
  .footer-content > p {
    font-size: 16px;
  }
}

@media screen and (width < 540px) {
  .footer-content > p {
    font-size: 16px;
  }
  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
